<style>
  .message-content{
    font-size: 20px;
    line-height: 30px;
  }
</style>
<div class="message-content">
  <p>Hello, <%= @data.name %>!</p>
  <p>Here's your password recovery link. Click the link below to access password recovery page.</p>
  <p>If you feel it was a mistake, please, ignore this e-mail.</p>
  <p><a href={@data.url}>Reset your password here</a></p>
  <p>Regards,
    <strong>Doctor Schedule Team</strong>
  </p>
</div>
